<html>
  <head>
    <Title>
      Database | Create
    </Title>
  </head>

  <body>
    <form method="POST" action="/create">
      <label for="username">
        Username
      </label>
      <br>
      <input type="text" name="username" value="">
      <br>

      <label for="password">
        Password
      </label>
      <br>
      <input type="password" name="password" value="">
      <br>

      <label for="name">
        Name
      </label>
      <br>
      <input type="text" name="name" value="">
      <br>
      <label for="age">
        Age
      </label>
      <br>
      <input type="text" name="age" value="">
      <br>
      <br>
      <button type="submit">
        Submit
      </button>
    </form>
  </body>
</html>